/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 800px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0%;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: -1%;
  background-color: #4152a7;
}
.navigation nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.navigation nav a {
  text-decoration: none;
  font-size: 2.3rem;
  padding: 15px;
  color: #D5B69D;
  border: #64615C;
  background: #081417;
  border-radius: 3px;
  margin-left: 0px;
  margin-right: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.navigation img {
  width: 30%;
  margin-right: 0px;
  margin-left: 1%;
  margin-right: -50px;
}
#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em 1.5em;
  color: #7c8081;
  padding: 5em 5em 10em 5em;
  font-size: 0.8em;
  line-height: 1em;
}
#footer .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#footer .copyright {
  font-size: 0.8em;
  line-height: 1em;
}
.image {
  border: 0;
  position: relative;
}
.image:before {
  background: url("images/overlay.png");
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image.fit {
  display: block;
}
.image.fit img {
  display: block;
  width: 100%;
}
.image.featured {
  display: block;
  margin: 0 0 2em 0;
}
.image.featured img {
  display: block;
  width: 100%;
}
/* Icon */
.icon {
  text-decoration: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.icon.solid:before {
  font-weight: 900;
}
.icon:before {
  line-height: inherit;
}
.icon.brands:before {
  font-family: 'Font Awesome 5 Brands';
}
.icon.circle {
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 0;
  border-radius: 100%;
  display: inline-block;
  font-size: 1.25em;
  height: 2.25em;
  left: 0;
  line-height: 2.25em;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 2.25em;
}
.icon.circle:hover {
  top: -0.2em;
}
.icon.circle.fa-twitter {
  background: #70aecd;
  color: #fff;
}
.icon.circle.fa-twitter:hover {
  background: #7fb7d2;
}
.icon.circle.fa-facebook-f {
  background: #7490c3;
  color: #fff;
}
.icon.circle.fa-facebook-f:hover {
  background: #829bc9;
}
.icon.circle.fa-google-plus-g {
  background: #db6b67;
  color: #fff;
}
.icon.circle.fa-google-plus-g:hover {
  background: #df7b77;
}
.icon.circle.fa-github {
  background: #dcad8b;
  color: #fff;
}
.icon.circle.fa-github:hover {
  background: #e1b89b;
}
.icon.circle.fa-dribbble {
  background: #da83ae;
  color: #fff;
}
.icon.circle.fa-dribbble:hover {
  background: #df93b8;
}
.icon.featured {
  cursor: default;
  display: block;
  margin: 0 0 1.5em 0;
  opacity: 0.35;
  text-align: center;
}
.icon.featured:before {
  font-size: 5em;
  line-height: 1em;
}
.icon > .label {
  display: none;
}
body {
  background-color: #D5B69D;
}
h1 {
  font-size: 3rem;
  align-items: center;
}
.team {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 3%;
  align-items: center;
}
@media (max-width: 500px) {
  .team {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 90%;
  }
}
.team .team-member {
  padding: 10px;
  width: 30%;
}
@media (max-width: 500px) {
  .team .team-member {
    margin-bottom: 2%;
    width: 100%;
  }
}
.team .team-member img {
  width: 50%;
}
.team .team-member h3 {
  color: black;
  padding: 20px;
}
.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 3%;
}
@media (max-width: 500px) {
  .top-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .top-section .about-us {
    margin-bottom: 2%;
    width: 90%;
  }
}
.top-section .about-us h2 {
  color: black;
  padding: 20px;
}
.top-section .about-us p {
  width: 50%;
}
@media (max-width: 500px) {
  .top-section .about-us p {
    width: 100%;
  }
}
.top-section .mission {
  margin-left: -25%;
  background-color: #D5B69D;
}
@media (max-width: 500px) {
  .top-section .mission {
    margin-bottom: 2%;
    width: 90%;
    margin-left: 0%;
  }
}
.top-section .mission h2 {
  color: black;
  padding: 20px;
}
.top-section .mission p {
  width: 60%;
}
@media (max-width: 500px) {
  .top-section .mission p {
    width: 100%;
  }
}
.contact-title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: -6%;
  margin-bottom: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-title h2 {
  color: white;
  font-size: 40px;
}
.contact-form {
  text-align: center;
  border-radius: 10px;
  width: 45%;
  height: 400px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;
  animation: bounce 1.5s infinite;
}
