#footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3em 1.5em;
  color: #7c8081;
  padding: 5em 5em 10em 5em;
  font-size: 0.8em;
  line-height: 1em;

  .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .copyright{
    font-size: 0.8em;
    line-height: 1em;
  }
}


//     #footer .copyright a {
//       color: inherit;
//     }

//     #footer .copyright li {
//       display: flex;
//       margin-left: 1em;
//       padding-left: 1em;
//       border-left: dotted 1px;
//     }

//       #footer .copyright li:first-child {
//         margin: 0;
//         padding: 0;
//         border: 0;
//       }

//   #footer .copyright li {
//     display: flex;
//     margin: 1em 0 0 0;
//     padding: 0;
//     border: 0;
//   }


.image {
  border: 0;
  position: relative;
}

  .image:before {
    background: url("images/overlay.png");
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .image.fit {
    display: block;
  }

    .image.fit img {
      display: block;
      width: 100%;
    }

    

  .image.featured {
    display: block;
    margin: 0 0 2em 0;
  }

    .image.featured img {
      display: block;
      width: 100%;
    }

/* Icon */

.icon {
  text-decoration: none;
  position: relative;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
  }

  .icon.solid:before {
    font-weight: 900;
  }

  .icon:before {
    line-height: inherit;
  }

  .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }

  .icon.circle {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 0;
    border-radius: 100%;
    display: inline-block;
    font-size: 1.25em;
    height: 2.25em;
    left: 0;
    line-height: 2.25em;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 2.25em;
  }

    .icon.circle:hover {
      top: -0.2em;
    }

    .icon.circle.fa-twitter {
      background: #70aecd;
      color: #fff;
    }

      .icon.circle.fa-twitter:hover {
        background: #7fb7d2;
      }

    .icon.circle.fa-facebook-f {
      background: #7490c3;
      color: #fff;
    }

      .icon.circle.fa-facebook-f:hover {
        background: #829bc9;
      }

    .icon.circle.fa-google-plus-g {
      background: #db6b67;
      color: #fff;
    }

      .icon.circle.fa-google-plus-g:hover {
        background: #df7b77;
      }

    .icon.circle.fa-github {
      background: #dcad8b;
      color: #fff;
    }

      .icon.circle.fa-github:hover {
        background: #e1b89b;
      }

    .icon.circle.fa-dribbble {
      background: #da83ae;
      color: #fff;
    }

      .icon.circle.fa-dribbble:hover {
        background: #df93b8;
      }

  .icon.featured {
    cursor: default;
    display: block;
    margin: 0 0 1.5em 0;
    opacity: 0.35;
    text-align: center;
  }

    .icon.featured:before {
      font-size: 5em;
      line-height: 1em;
    }

  .icon > .label {
    display: none;
  }
