.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;

    @media @desktop {
        flex-direction: row;
    }

    .logo {
        margin: 0 20px;
    }

    .navigation {
        .nav-flex(flex, column);

        @media @tablet {
            .nav-flex(flex, row)
        }

        a {
            .nav-link(2rem);
        }
    }
}

