
.nav-flex(@navDisplay, @flexDir) {
  display: @navDisplay;
  flex-direction: @flexDir;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link(@fontSize) {
  color: @font-color-light;
  text-decoration: none;
  font-size: @fontSize;
  margin: 20px;
}

.sec-center () {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-right () {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sec-left() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}