//colors

@header-color: @placeholder-dark;
@light-font: @placeholder-font-light;

@placeholder-light: #BFBCBA;
@placeholder-dark: #595656;
@placeholder-font-light: #F2F2F2;



//fonts



//media queries
