//colors

@header-bg-color: @placeholder-dark;
@footer-bg-color: @placeholder-dark;

@section-bg-main: @placeholder-dark;
@section-bg-secondary: @placeholder-light;
@section-bg-tertiary: @placeholder-mid;

@font-color-light: @placeholder-font-light;
@font-color-dark: @placeholder-dark;

@placeholder-light: #BFBCBA;
@placeholder-mid: #848080;
@placeholder-dark: #595656;

@placeholder-font-light: #F2F2F2;
@placeholder-font-dark: #282525;

//fonts



//media queries
// @tablet: ~"( min-width: 500px )";
@desktop: ~"( min-width: 1000px )";